body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  background-color: #000000;
  color: #dddddd;
  font-family: sans-serif;
}

canvas {
  align-self: flex-start;
}

body > div {
  max-height: 90vh;
  overflow-y: auto;
}
